<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.dwxcp.mapper.BasicMapper">
    <resultMap id="BaseResultMap" type="com.springboot.dwxcp.entity.Basic">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="position" property="position"/>
        <result column="type" property="type"/>
        <result column="photo" property="photo"/>
    </resultMap>

    <!-- 列表：分页由 PageHelper 控制 -->
    <select id="getBasicList" resultMap="BaseResultMap">
        SELECT id, name, position, type, photo
        FROM basic
        ORDER BY id DESC
    </select>

    <select id="getBasicByType" resultMap="BaseResultMap">
        SELECT id, name, position, type, photo
        FROM basic
        WHERE type = #{type}
        ORDER BY id DESC
    </select>

    <insert id="addBasic" useGeneratedKeys="true" keyProperty="id">
        insert into basic (name, position, type, photo)
        values (#{name}, #{position}, #{type}, #{photo})
    </insert>

    <delete id="deleteBasicById">
        delete from basic where id = #{id}
    </delete>

    <update id="editBasicById" parameterType="com.springboot.dwxcp.entity.Basic">
        update basic
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="position != null and position != ''">
                position = #{position},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="photo != null">
                photo = #{photo}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="uploadPhoto" parameterType="com.springboot.dwxcp.entity.Basic">
        update basic set photo = #{photo} where id = #{id}
    </update>

    <select id="selectBasicById" resultMap="BaseResultMap">
        SELECT id, name, position, type, photo
        FROM basic
        WHERE id = #{id}
    </select>
</mapper>