<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：命名空间
    id：sql语句的唯一标识
    resultType：返回值类型
-->
<mapper namespace="com.springboot.dwxcp.mapper.GroupsMapper">
    <resultMap id="BaseResultMap" type="com.springboot.dwxcp.entity.Groups">
        <id column="id" property="id"/>
        <result column="party" property="party"/>
        <result column="name" property="name"/>
        <result column="fushuji" property="fushuji"/>
        <result column="zuzhi" property="zuzhi"/>
        <result column="xuanchuan" property="xuanchuan"/>
        <result column="counts" property="counts"/>
        <result column="jobs" property="jobs"/>
        <result column="name1" property="name1"/>
        <result column="name2" property="name2"/>
    </resultMap>

    <!--
        党小组列表：分页由 PageHelper.startPage 控制
        - party / name 是下拉枚举，走 =
        - name1 是姓名搜索，改为前缀匹配（走索引）
    -->
    <select id="getGroupsList" resultMap="BaseResultMap">
        SELECT id, party, name, fushuji, zuzhi, xuanchuan, counts, jobs, name1, name2
        FROM `groups`
        <where>
            <if test="party != null and party != ''">
                AND party = #{party}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="name1 != null and name1 != ''">
                AND name1 LIKE CONCAT(#{name1}, '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <insert id="addGroups" useGeneratedKeys="true" keyProperty="id">
        insert into `groups` (party, name, fushuji, zuzhi, xuanchuan, counts, jobs, name1, name2)
        values (#{party}, #{name}, #{fushuji}, #{zuzhi}, #{xuanchuan}, #{counts}, #{jobs}, #{name1}, #{name2})
    </insert>

    <delete id="deleteGroupsById">
        delete from `groups` where id = #{id}
    </delete>

    <update id="editGroupsById" parameterType="com.springboot.dwxcp.entity.Groups">
        update `groups`
        <set>
            <if test="party != null and party != ''">
                party = #{party},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="fushuji != null and fushuji != ''">
                fushuji = #{fushuji},
            </if>
            <if test="zuzhi != null and zuzhi != ''">
                zuzhi = #{zuzhi},
            </if>
            <if test="xuanchuan != null and xuanchuan != ''">
                xuanchuan = #{xuanchuan},
            </if>
            <if test="counts != null and counts != ''">
                counts = #{counts},
            </if>
            <if test="jobs != null and jobs != ''">
                jobs = #{jobs},
            </if>
            <if test="name1 != null and name1 != ''">
                name1 = #{name1},
            </if>
            <if test="name2 != null and name2 != ''">
                name2 = #{name2}
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="batchAddGroups" parameterType="list">
        insert into `groups` (party, name, fushuji, zuzhi, xuanchuan, counts, jobs, name1, name2)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.party}, #{item.name}, #{item.fushuji}, #{item.zuzhi}, #{item.xuanchuan}, #{item.counts}, #{item.jobs}, #{item.name1}, #{item.name2})
        </foreach>
    </insert>
</mapper>