<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：命名空间
    id：sql语句的唯一标识
    resultType：返回值类型
-->
<mapper namespace="com.springboot.dwxcp.mapper.MemberMapper">
    <resultMap id="BaseResultMap" type="com.springboot.dwxcp.entity.Member">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="nation" property="nation"/>
        <result column="culture" property="culture"/>
        <result column="birthday" property="birthday"/>
        <result column="job" property="job"/>
        <result column="party" property="party"/>
        <result column="position" property="position"/>
        <result column="title" property="title"/>
        <result column="address" property="address"/>
        <result column="condition" property="condition"/>
        <result column="groups" property="groups"/>
        <result column="transfer" property="transfer"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!--
        党员列表：分页由 PageHelper.startPage 控制
        - name: 前缀匹配，走 idx_name 索引
        - condition / groups: 精确匹配（前端下拉枚举值），走 idx_groups / idx_groups_name
    -->
    <select id="getMemberList" resultMap="BaseResultMap">
        SELECT id, name, sex, nation, culture, birthday, job, party, position, title,
               address, `condition`, `groups`, `transfer`, remark
        FROM member
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT(#{name}, '%')
            </if>
            <if test="condition != null and condition != ''">
                AND `condition` = #{condition}
            </if>
            <if test="groups != null and groups != ''">
                AND `groups` = #{groups}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <insert id="addMember" useGeneratedKeys="true" keyProperty="id">
        insert into member (name, sex, nation, culture, birthday, job, party, position, title, address, `condition`, `groups`, `transfer`, remark)
        values (#{name}, #{sex}, #{nation}, #{culture}, #{birthday}, #{job}, #{party}, #{position}, #{title}, #{address}, #{condition}, #{groups}, #{transfer}, #{remark})
    </insert>

    <delete id="deleteMemberById">
        delete from member where id = #{id}
    </delete>

    <update id="editMemberById" parameterType="com.springboot.dwxcp.entity.Member">
        update member
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="nation != null and nation != ''">
                nation = #{nation},
            </if>
            <if test="culture != null and culture != ''">
                culture = #{culture},
            </if>
            <if test="birthday != null and birthday != ''">
                birthday = #{birthday},
            </if>
            <if test="job != null and job != ''">
                job = #{job},
            </if>
            <if test="party != null and party != ''">
                party = #{party},
            </if>
            <if test="position != null and position != ''">
                position = #{position},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="condition != null and condition != ''">
                `condition` = #{condition},
            </if>
            <if test="groups != null and groups != ''">
                `groups` = #{groups},
            </if>
            <if test="transfer != null and transfer != ''">
                `transfer` = #{transfer},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark}
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="batchAddMember" parameterType="list">
        insert into member (name, sex, nation, culture, birthday, job, party, position, title, address, `condition`, `groups`, `transfer`, remark)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.sex}, #{item.nation}, #{item.culture}, #{item.birthday},
             #{item.job}, #{item.party}, #{item.position}, #{item.title},
             #{item.address}, #{item.condition}, #{item.groups}, #{item.transfer}, #{item.remark})
        </foreach>
    </insert>
</mapper>