<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：命名空间
    id：sql语句的唯一标识
    resultType：返回值类型
-->
<mapper namespace="com.springboot.dwxcp.mapper.ShowMediaMapper">
    <select id="getShowMediaList" resultType="com.springboot.dwxcp.entity.ShowMedia">
        SELECT id, type
        FROM show_media
        ORDER BY id DESC
        LIMIT 50
    </select>

    <update id="editShowMediaById" parameterType="com.springboot.dwxcp.entity.ShowMedia">
        update show_media
        <set>
            <if test="type != null and type != ''">
                type = #{type}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>